// ## Colors
$darkblue: hsl(233, 47%, 7%);
$purple: hsl(244, 38%, 16%);
$violet: hsl(277, 64%, 61%);

// - White (main heading, stats): 
$white: hsl(0, 0%, 100%);

// - Slightly transparent white (main paragraph)
$white75: hsla(0, 0%, 100%, 0.75);

// - Slightly transparent white (stat headings)
$white60: hsla(0, 0%, 100%, 0.6);

body {
    background-color: $darkblue;
    color: $white75;
}